export(LMDRT)
export(Mkex)
export(Mkey)
export(classifier)
export(crossValidation)
export(logInPred)
export(subgroup)
export(subnum)
export(svm0)
export(svm1)
export(svm2)
export(trans)
import(parallel)
importFrom(e1071,svm)
importFrom(parallel,clusterExport)
importFrom(parallel,detectCores)
importFrom(parallel,makeCluster)
importFrom(parallel,parSapply)
importFrom(parallel,stopCluster)
